<!DOCTYPE html>
<html>
<head>

<title>CSE C Time Table</title>

<style>

table{
width:80%;
margin:auto;
border-collapse:collapse;
}

th,td{
border:1px solid black;
padding:10px;
text-align:center;
}

th{
background:#1976d2;
color:white;
}

h2{
text-align:center;
}

</style>

</head>

<body>

<h2>Final CSE C Time Table</h2>

<table>

<tr>
<th>Day</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
</tr>

<tr>
<td>Monday</td>
<td>Cloud</td>
<td>AI</td>
<td>ML</td>
<td>Big Data</td>
<td>Cyber Security</td>
</tr>

<tr>
<td>Tuesday</td>
<td>AI</td>
<td>Cyber Security</td>
<td>Big Data</td>
<td>Cloud</td>
<td>ML</td>
</tr>

<tr>
<td>Wednesday</td>
<td>ML</td>
<td>Big Data</td>
<td>Cyber Security</td>
<td>AI</td>
<td>Cloud</td>
</tr>

<tr>
<td>Thursday</td>
<td>Cyber Security</td>
<td>Cloud</td>
<td>AI</td>
<td>ML</td>
<td>Big Data</td>
</tr>

<tr>
<td>Friday</td>
<td>Big Data</td>
<td>ML</td>
<td>Cloud</td>
<td>Cyber Security</td>
<td>AI</td>
</tr>

</table>

</body>
</html>