{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Office Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/office_common.css' %}">
    <link rel="stylesheet" href="{% static 'css/office_dashboard.css' %}">
</head>

<body>

<div class="header">
    <h1>Office Dashboard</h1>
</div>

<div class="button-group">

<a href="/office-students/A/">
    <button>Final CSE A</button>
</a>

<a href="/office-students/B/">
    <button>Final CSE B</button>
</a>

<a href="/office-students/C/">
    <button>Final CSE C</button>
</a>

</div>

</body>
</html>