{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Select Class</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/staff_profile_select.css' %}">
</head>

<body>
<div class="container">

    <h1>Select Class for Profile Verification</h1>

    <a href="/staff-profile/A/">
        <button class="btn btn-a">Final CSE A</button>
    </a>

    <a href="/staff-profile/B/">
        <button class="btn btn-b">Final CSE B</button>
    </a>

    <a href="/staff-profile/C/">
        <button class="btn btn-c">Final CSE C</button>
    </a>

</div>

</body>
</html>