<!DOCTYPE html>
<html>
<head>
<title>Time Table</title>

<style>

body{
font-family:Arial;
background:#f4f6f9;
}

.container{
width:400px;
margin:100px auto;
text-align:center;
}

.option{
display:block;
background:#1976d2;
color:white;
padding:15px;
margin:20px;
text-decoration:none;
border-radius:6px;
font-size:18px;
}

.option:hover{
background:#0d47a1;
}

</style>

</head>

<body>

<div class="container">

<h2>Select Class</h2>

<a class="option" href="/timetable/cse_a/">Final CSE A</a>

<a class="option" href="/timetable/cse_b/">Final CSE B</a>

<a class="option" href="/timetable/cse_c/">Final CSE C</a>

</div>

</body>
</html>